<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.496441513720-kmvr9088qdlh41jvaqq3blcc3ki6dc57</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>496441513720-kmvr9088qdlh41jvaqq3blcc3ki6dc57.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>496441513720-f6g2h66egatj2up3r3r9lkbc593icd3l.apps.googleusercontent.com</string>
</dict>
</plist>
